@import '../node_modules/bootstrap/scss/bootstrap'
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;500&display=swap')

* 
    appearance: none 

@media only screen and (max-width: 767px)

    #design_left_container 
       display: none 
    #body_container
        background: url(./design.jpg)  
        background-size: cover 



#navbar
    background-color: $gray-300
    font-family: 'Sono', sans-serif

input:focus
    outline-color: green 



body 
    background-color: $blue-100 

#main_container 
    height: 100%
    background-color: $green-200

form
    button 
        width: 100%
        height: 2rem    

input 
    width: 100%

    
    
.middle
    position: relative


.middle:before 
  content: ""
  position: absolute
  width: 100%
  height: 2px
  bottom: 0
  left: 0
  background-color: #FFF
  visibility: hidden
  transform: scaleX(0)
  transition: all 0.3s ease-in-out


.middle:hover:before 
    visibility: visible
    transform: scaleX(0.25)

#design_right_top
    font-family: 'Sono', sans-serif











